#App {
    background-color:peachpuff;
}

#enterance {
    position:absolute;
    
    width:100%;
    height:90%;
    max-width:1920px;
    max-height:1080px;

    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.enterance__title-square {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-60%, -55%);
    
    width:35rem;
    height:35rem;
    
    border:1px solid white;
    
    mix-blend-mode: difference;
}

.enterance__title {
    position:absolute;
    top:50%;
    right:10%;
    left:50%;
    transform:translate(-20%, -10%);

    min-width:600px;

    font-family:georgia;
    font-size:9vmin;
    color:white;

    mix-blend-mode: difference;
}

#enterance__main {
    display:flex;
}

.enterance__background-color {
    width:50%;
}

.enterance__background-img {
    width:50%;
    background-image:url(../../../img/main/Enterance.jpg);
    background-size:cover;
}