#enterance {
    height:100%;
    width:100%;
    background-color:peachpuff;
}

.enterance__title-square {
    
    width:50%;
    height:50%;
    
    border:1px solid white;
    
    mix-blend-mode: difference;
}

.enterance__title {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-20%, -10%);

    font-family:georgia;
    font-size:7rem;
    color:white;

    mix-blend-mode: difference;
}

#enterance__main {
    display:flex;
}

.enterance__background-color {
    width:50%;
}

.enterance__background-img {
    width:50%;
    background-image:url(../../../img/main/Enterance.jpg);
    background-size:cover;
}