#enterance {
    width:100%;
    height:100%;
    background-color:peachpuff;
}

#enterance_title {
    font-family:georgia;
    font-size:100px;
    color:white;
    position:absolute;
    top:40%;
    left:20%;
    mix-blend-mode: difference;
}

main {
    border:1px solid white;
    display:initial;
    height:100%;
    width:100%;
}

#enterance-background-color {
    width:50%;
}

#enterance-background-img {
    width:50%;

    background-image:url(../../../img/main/Enterance.jpg);
    background-size:cover;
}