#App {
    margin:5%;
    border:1px solid black;
}

#lobby {
    width:100%;
}

.lobby__header {
    display:flex;
    justify-content: space-between;

    width:100%;
    
    padding:25px;
    
}

.lobby__header--logo {
    font-family:georgia;
    font-size:32px;

}

.lobby__header--nav {
    display:flex;
}

.lobby__header--nav li {    
    list-style-type:none;
    margin:auto 10px;
}

.lobby__header--nav li a {
    padding:0;
    
    border:1px solid black;
    text-decoration:none;
    font-size:18px;
}

.lobby__preface {
    width:100%;
    height:80%;

    background-image:url(../../../img/main/Lobby.jpg);
    background-size:cover;
}

.lobby__preface--text {
    
}

#lobby__main {

}

.lobby__content {

}