#introduction {
    display:flex;
    flex-direction:column;
}

.introduction--content-box {
    margin:40px auto 0px auto;
    width:100%;
}

.introduction__background-image {
    display:flex;
    height:50px;
    background-image:url(../../img/blog/BlogMain.jpg);
    background-size:cover;
    background-attachment:scroll;
}

.introduction__title {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:30px;
    
    font-family:georgia;
    font-size:3vmin;
    color:white;
    mix-blend-mode: difference;
}

.introduction__intro-frame {
    border:1px solid black;
}

.introduction__intro-content {
    margin:30px;
}